@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");

body {
    background: radial-gradient(#fff, #aaa);
    background-size: 100vw 100vh;
    overflow: hidden;
    padding-top: 40vh;
}
